*{
    margin: 0;
}

#filtro{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1em;
}

label{
    margin-right: 0.2em ;
}

#peliculas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    text-align: center;
}